In [29]:
import pandas as pd
data={'RollNo': ['1','2','3','4','5','6','7','8','9','10'],
      'Name': ['A','B','C','D','E','F','G','H','I','J'],
'Gender': ['Male','Female','Male','Female','Male','Female','Male','Female','Male','Female'],
'Marks1': [88,89,90,91,92,92,94,95,96,97],
'Marks2':[90,38,96,94,92,89,97,91,99,85],
'Marks3':[78,87,80,76,85,95,79,84,82,89]}
df = pd.DataFrame(data)
print(df)

  RollNo Name  Gender  Marks1  Marks2  Marks3
0      1    A    Male      88      90      78
1      2    B  Female      89      38      87
2      3    C    Male      90      96      80
3      4    D  Female      91      94      76
4      5    E    Male      92      92      85
5      6    F  Female      92      89      95
6      7    G    Male      94      97      79
7      8    H  Female      95      91      84
8      9    I    Male      96      99      82
9     10    J  Female      97      85      89

In [30]:
df['TotalMarks']=df['Marks1']+df['Marks2']+df['Marks3']
print(df)

  RollNo Name  Gender  Marks1  Marks2  Marks3  TotalMarks
0      1    A    Male      88      90      78         256
1      2    B  Female      89      38      87         214
2      3    C    Male      90      96      80         266
3      4    D  Female      91      94      76         261
4      5    E    Male      92      92      85         269
5      6    F  Female      92      89      95         276
6      7    G    Male      94      97      79         270
7      8    H  Female      95      91      84         270
8      9    I    Male      96      99      82         277
9     10    J  Female      97      85      89         271

In [31]:
Lowest=df['Marks1'].min(axis=0)
print(Lowest)

88

In [47]:
Highest=df['Marks2'].max(axis=0)
print(Highest)

99

In [49]:
Average=df['Marks3'].mean(axis=0)
print(Average)

83.5

In [45]:
df['Avg']=(df['Marks1']+df['Marks2']+df['Marks3'])/3
print(df['Avg'])
Student=df.loc[df['Avg']==df['Avg'].max(axis=0)]
print(Student)

0    85.333333
1    71.333333
2    88.666667
3    87.000000
4    89.666667
5    92.000000
6    90.000000
7    90.000000
8    92.333333
9    90.333333
Name: Avg, dtype: float64
  RollNo Name Gender  Marks1  Marks2  Marks3  TotalMarks        Avg
8      9    I   Male      96      99      82         277  92.333333

In [34]:
Fail=df.loc[df['Marks2']<40]
print(Fail)

  RollNo Name  Gender  Marks1  Marks2  Marks3  TotalMarks
1      2    B  Female      89      38      87         214

In [41]:
summary=df.describe()
print(summary)

          Marks1     Marks2     Marks3  TotalMarks
count  10.000000  10.000000  10.000000   10.000000
mean   92.400000  87.100000  83.500000  263.000000
std     3.025815  17.741665   5.759051   18.336363
min    88.000000  38.000000  76.000000  214.000000
25%    90.250000  89.250000  79.250000  262.250000
50%    92.000000  91.500000  83.000000  269.500000
75%    94.750000  95.500000  86.500000  270.750000
max    97.000000  99.000000  95.000000  277.000000